@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;
}

.card {
  box-shadow: -7px 7px 2px #141414;
}

.status-badge {
  box-shadow: 0px 2px 2px #141414;
}

.top-image {
  box-shadow: 5px 5px 2px #141414;
}

.text-shadow {
  text-shadow: 3px 3px 2px #141414;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}