@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #141414;
  --primary: #990a0a;
  --secondary: #e3a008;
  --font-roboto: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-garamond: "Cormorant Garamond", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
}

.font-garamond {
  font-family: var(--font-garamond);
}
.font-roboto {
  font-family: var(--font-roboto);
}

nav {
  a {
    color: var(--secondary)
  }
}

a {
  color: red;
}

.card {
  box-shadow: -7px 7px 2px #141414;
}

.text-shadow {
  text-shadow: 3px 3px 1px #141414;
}

.button--shadow {
  box-shadow: 0px 4px 2px var(--secondary);
  transform: translateY(-3px);
  transition: all .3s ease-in-out;

  &:hover {
    background: var(--primary);
    box-shadow: 0px 0px 2px var(--secondary);
    transform: translateY(0px);
  }
}

